
/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media only screen and (min-width: 600px) {
    nav {
    display: block;
    }
    .navigation {
    display: flex;
    }
    .navigation li {
    display: block; 
    flex: 1 1 auto;
    }
    .navigation a {
    text-align: center;
    }
    .navigation li:first-child {
    display: none;
    }
    button {
        display: none;
    }
}