body{
    background-color: rgb(247, 237, 226);
    
    
    border-radius: 1em;
    display: block;
    
    
    }
header{
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}
.agile{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
main{
    display: block;
    background-color: rgb(132, 165, 157);
    font-style: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    padding: 1em;
    display: block;
    margin:4em;
}
.nav {
    overflow: hidden;
    background-color: #F28482;

  }
  
  .nav a {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
    float: left;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
  }
  
  .nav a:hover {
    background-color: #F5CAC3;
    color: black;
  }
  
  .nav a.active {
    background-color: #F5CAC3;
    color: black;
  }
  

.title-page-font{
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-align: center;
}

.paragraph-font{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-align: center;

}
.nav-font{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
}
.header-font {
    
    font-family: 'Pattaya', sans-serif;
    font-size: 40px;
    text-align: center;
}
.agile-img{
    width: 50%;
     border: 10px double #F6BD60;
     -webkit-box-shadow: 5px -1px 49px 19px rgba(0,0,0,0.3); 
box-shadow: 5px -1px 49px 19px rgba(0,0,0,0.3);
}
.color-scheme{
  display: block;
  margin-left: auto;
  -webkit-box-shadow: 5px -1px 49px 19px rgba(0,0,0,0.3); 
box-shadow: 5px -1px 49px 19px rgba(0,0,0,0.3);
  width: 50%;
  border: 10px double #F6BD60;
}
#design-style{
border: 7px dotted #F5CAC3;
border-radius: 18px;
padding:1em;
margin-block: 20px;
margin:4em;
}
#purpose{
    border: 7px dotted #F5CAC3;
border-radius: 18px;
padding:1em;
margin:4em;

}
#pmp{
border: 7px dotted #F5CAC3;
border-radius: 18px;
padding:1em;
margin:4em;
}