body{
    background-color: #FFF3EB;
    
    
    border-radius: 1em;
    display: block;
    
    
    }
header{
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}
.agile{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
main{
    display: block;
    background-color:   #FFF3EB;
    font-style: 'Open Sans Condensed', sans-serif;
    border: 45px double  #37033a ;
    border-radius: 18px;
    font-size: 20px;
    padding: 1em;
    display: block;
    margin:4em;
}
nav {
    overflow: hidden;
    background-color:  #a06a73;

  }
  
  .navigation {
    list-style: none;
    padding: 10px;
    max-width: 100%;
    }
    .navigation li:first-child {
    display: block;
  
    }
    .navigation li {
    display: none;
    }
    .navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    max-width: 100%;
    }
    .navigation a:hover {
    color:#F03A47;
    background-color: #8DD65C;
    }

    .responsive li {
    display: block;
    }

    nav ul{
      font-family: 'Archivo', sans-serif;
    max-width: 100%;
    text-align: center;
   
  }
    .active {
      background-color: #8DD65C;
       
    } 
    nav a:hover{
    max-width: 100%;}


.title-page-font{
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-align: center;
}

.paragraph-font{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-align: center;

}
.nav-font{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
}
.header-font {
    
    font-family: 'Pattaya', sans-serif;
    font-size: 40px;
    text-align: center;
}
.agile-img{
    width: 50%;
     border: 10px double #F6BD60;
     -webkit-box-shadow: 5px -1px 49px 19px rgba(0,0,0,0.3); 
box-shadow: 5px -1px 49px 19px rgba(0,0,0,0.3);
}
.color-scheme{
  display: block;
  margin-left: auto;
  -webkit-box-shadow: 5px -1px 49px 19px rgba(0,0,0,0.3); 
box-shadow: 5px -1px 49px 19px rgba(0,0,0,0.3);
  width: 50%;
  border: 10px double #F6BD60;
}
#design-style{
border: 7px dotted#75957c;
border-radius: 18px;
padding:1em;
margin-block: 20px;
margin:4em;
}
#purpose{
    border: 7px dotted #75957c;
border-radius: 18px;
padding:1em;
margin:4em;

}
#pmp{
 
border: 7px dotted #75957c;
border-radius: 18px;
padding:1em;
margin:4em;
}
footer{
  font-family: 'Pattaya', sans-serif;
  background-color:#75957c;
  color: white;
  font-size: 21px;
  
  padding: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
          
}
footer a{ 
  color: white;
  text-decoration: none;
}
footer a:hover{
  color: #4a4a4a;
  transition: color 0.3s ease-in;
  text-decoration:none; 
  cursor:pointer;  
}
footer .social-media-icons li:last-of-type {
  margin-right: 2.5rem;

}

footer .social-media-icons .fa {
  font-size: 1.6rem;
  color: #fefefe;
  padding: .4em;

}

footer .social-media-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}
.social-media-icons {
  list-style: none
}
.menu-simple {
  list-style: none;

}